.App {
  text-align: center;
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: cent;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerStyle= {
  align-items: center;
  color: white;
}
